<!DOCTYPE html>
<html>
  <head>
	<title>Welcome Home</title>
  </head>
  <body>
 <!-- link to login page-->
	<a href="/login"> Login Here!</a><br><br>
  <a href="/signup"> signup Here!</a>
  </body>
</html>